.banner__promo {
    text-align: center;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.banner__promo h1 {
    padding-bottom: 2rem;
}

.banner__promo a {
    background-color: var(--azul);
    text-decoration: none;
    color: white;  
    transition: .3s ease-in-out;  
}

.banner__promo a:hover {
    background-color: white;
    color: var(--azul);
    border: 1px solid var(--azul);
}

@media screen and (min-width: 0) {
    .banner__promo a {
        padding: .5rem; 
    }
    .banner__promo h1 {
        font-size: 16px;
    }
}

@media screen and (min-width: 386px) {
    .banner__promo a {
        padding: .3rem 2.5rem .3rem 2.5rem; 
    }
    .banner__promo h1 {
        font-size: 18px;
    }
}

@media screen and (min-width: 700px) {
    .banner__promo a {
        padding: .6rem 5rem .6rem 5rem;
    }
    .banner__promo h1 {
        font-size: 32px;
    }
}