.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    background-color: #EAF2FD; 
}

.banner__lista {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
}

.banner__itensLista {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: .3rem;
    font-weight: 700; 
    box-shadow: 1px 1px 25px rgb(207, 207, 207);
    border-radius: 10px;
    margin-top: 10px;
    margin: 10px;
    transition: .2s ease-in-out;
    height: 150px;
    
}

.banner__itensLista img {
    width: 80px;
    height: 50px;
    border-radius: 500px;
    align-items: center;
    padding: .5rem;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.banner__itensLista img:hover {
    transform:scale(1.5);
    box-shadow: 1px 1px 25px rgb(182, 199, 255);
    
}

.banner__itensLista a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}
.banner__itensLista:hover {
    color: var(--azul);
    
}


@media screen and (min-width: 0) {
    .banner {
        padding: 1rem; 
    }
}

@media screen and (min-width: 386px) {
    .banner {
        padding: 1.5rem; 
    }
}

@media screen and (min-width: 772px) {
    .banner {
        padding: 2rem; 
    }
}