.contato {
    background-color: #EAF2FD;
    display: flex;
    justify-content: space-evenly;  
    padding: 2rem; 
}
.contato h3 {
    font-size: 20px;
}

.contato__img {
    display: flex;
    justify-content: center;    
    flex-direction: column;
    align-items: center;
}
.contato__img img {
    padding: .5rem;  
}

.lista__institucional {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
}

.lista__institucional li {
    cursor: pointer;
    transition:  .2s ease-in-out;
}
.lista__institucional li:hover {
    color: var(--azul);
    font-weight: 700;
}

.form__contato {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__contato input, textarea {
    margin-top: 1.5rem;
    outline: none;
    border: none;
    padding: .3rem;
    resize: none;
}


.form__contatoSpanNome{
    position: absolute;
    top: 52px; /*22px*/
    transition: .2s ease-in-out;
    opacity: .5;
    pointer-events: none;
    
}
.form__contatoSpanMensagem {
    position: absolute;
    top: 105px; /*75px*/
    transition: .2s ease-in-out;
    opacity: .5;
    pointer-events: none;
}
.btn__enviarMensagem {
    margin-top: 15px;
    padding: .5rem;
    background-color: var(--azul);
    border: 1px solid var(--azul);
    color: white;
    transition: .2s ease-in-out;
}

.form__ipt input:focus ~ .form__contatoSpanNome,
.form__ipt textarea:focus ~ .form__contatoSpanMensagem,
.form__ipt input:valid ~ .form__contatoSpanNome,
.form__ipt textarea:valid ~ .form__contatoSpanMensagem
{
    transform: translateY(-24px);
    font-size: 14px;
    opacity: 1;
    font-weight: 700;
}



.btn__enviarMensagem:hover {
    background-color: white;
    color: var(--azul);
}

@media screen and (min-width: 0) {
    .contato {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 795px) {
    .contato {
        flex-direction: row;
        align-items: center;
    }
}