.topo {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.topo a {
    background-color: var(--azul);
    padding: .5rem 4rem .5rem 4rem;
    color: white;
    text-decoration: none;
    font-size: 22px;
}

@media screen and (min-width: 0) {
    .topo {
        flex-direction: column;
    }
}

@media screen and (min-width: 525px) {
    .topo {
        flex-direction: row;
    }
}

@media screen and (min-width: 772px) {
    .topo {
        
    }
}