.topo__busca input {
    border-radius: 150px;
    border: none;
    outline: none;
    background-color: #e5e5e5;
    padding: .5rem;
    width: 290px;
}

@media screen and (min-width: 0) {
    .topo__busca input {
        width: 180px;
    }
}

@media screen and (min-width: 525px) {
    .topo__busca input {
        width: 220px;
    }
}

@media screen and (min-width: 772px) {
    .topo__busca input {
        width: 290px;
    }
}