.topo__linkLogin {
    text-decoration: none;
    background-color: var(--azul);
    padding: .5rem 2rem .5rem 2rem;
    color: white;
    transition: .3s ease-in-out;
}

.topo__linkLogin:hover {
    color: var(--azul);
    background-color: white;
    border: 1px solid var(--azul);
}

