.topo__logoBusca {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width:300px;
}

@media screen and (min-width: 0) {
    .topo__logoBusca {
        width: 200px;
    }
}

@media screen and (min-width: 525px) {
    
}

@media screen and (min-width: 0) {
    
}